.bank {
    display: flex;
    .quick-access-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 10px;
        margin-bottom: 20px;
        padding: 10px;
        }
    .bankContainer {
        flex: 6;
    }

}