.deliveries {
    display: flex;

    .deliveriesContainer {
        display: flex;
        flex-direction: column;
        flex: 6;
        justify-content: flex-start;
        margin-bottom: 10px;   

        .container {
            display: flex;
            justify-content: flex-start;
        }

    }

}